<?xml version="1.0"?>

<Zia> <!-- Name of the module -->

  <Api> <!-- Api section, content all the informations of the API -->
    <name>apimeal</name> <!-- Name of the API, optionnal -->
    <min_authorized_version>0.1</min_authorized_version> <!-- The minimum authorized version of the module to work correctly -->
  </Api>

  <Modules> <!-- Modules section, content the place for all modules -->
    <root>/</root> <!-- The recurrent path of all module, optionnal -->
    <path>/Users/Jordan/Documents/Ziare/zia/modules/mod_dir/libmod_dir</path>
    <path>/Users/Jordan/Documents/Ziare/zia/modules/mod_phpcgi/libmod_phpcgi</path>
    <path>/Users/Jordan/Documents/Ziare/zia/modules/mod_error/libmod_error</path>
    <ext>dylib</ext> <!-- the extension searched (ex :dll for windows). The program will try to load all the files with this extension content in the directory -->
  </Modules>

  <Logger_info>
    <log_file>zia.log</log_file> <!-- File that will contain the info, debug and error of the server. -->

    <!-- Format of the message which will be printed and write. different type:
	 %(type) : type of the error (ERROR, DEBUG or INFO)
	 %(message) : the message of the error.
	 %(time) : the timestamp formated %Y-%m-%d %H:%M:%S -->

    <format>%(time) : %(type) : %(message)</format>
  </Logger_info>

  <Server_info>

    <website>
      <virtual_host>*</virtual_host>
      <document_root>/var/www/supinfo/</document_root>
    </website>

    <website>
      <virtual_host>toto.com</virtual_host>
      <document_root>/var/www/toto</document_root>
    </website>

    <website>
        <virtual_host>localhost:8454</virtual_host>
        <document_root>/var/www/supinfo/</document_root>
    </website>

    <port>8883</port>
  </Server_info>

</Zia>